<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 :  Page introuvable</title>
    <link rel="shortcut icon" href="{{ asset('ressources/img/logo.png')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link href="{{ asset('ressources/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/css/style.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/switchery/switchery.min.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/bootstrap-select/bootstrap-select.min.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/css/demo/jasmine.css')}}" rel="stylesheet">

    <!--Page Load Progress Bar-->
    <link href="{{ asset('ressources/plugins/pace/pace.min.css')}}" rel="stylesheet">
    <script src="{{ asset('ressources/plugins/pace/pace.min.js')}}"></script>
  </head>
  <body>
    <!-- START OF CONTAINER -->
    <!--===================================================-->
    <div id="container" class="cls-container">
      <!-- CONTENT -->
      <!--===================================================-->
      <div class="cls-content">
        <div class="error-full-page">
          <!-- start: 404 -->
          <div class="col-sm-12 page-error pad-30">
            <div class="error-number text-primary">
              404
            </div>
            <div class="error-details col-sm-6 col-sm-offset-3">
              <h3>Page introuvable</h3>
              <p>
                Nous sommes desolés, la page demandée est introuvable. <br>
                Si vous pensez que cette erreur est anormale <br>
                alors veuillez
                <a href="#"><span class="text-primary">nous contacter.</span></a>
                <br>
                <a href="{{ path('homepage')}}" class="btn btn-danger btn-return">
                  <i class="fa fa-home"></i>
                  Retour à l'accueil
                </a>
              </p>
            </div>
          </div>
          <!-- end: 404 -->
        </div>
      </div>

    </div>

    <script src="{{ asset('ressources/js/jquery-2.1.1.min.js')}}"></script>
    <script src="{{ asset('ressources/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('ressources/plugins/fast-click/fastclick.min.js')}}"></script>
    <script src="{{ asset('ressources/js/scripts.js')}}"></script>ript>
    <script src="{{ asset('ressources/plugins/switchery/switchery.min.js')}}"></script>
    <script src="{{ asset('ressources/plugins/bootstrap-select/bootstrap-select.min.js')}}"></script>
  </body>
</html>
