<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SYGESCA{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('ressources/img/logo.png')}}">

    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link href="{{ asset('ressources/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/css/style.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/switchery/switchery.min.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/bootstrap-select/bootstrap-select.min.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/css/demo/jasmine.css')}}" rel="stylesheet">

    <!--Page Load Progress Bar-->
    <link href="{{ asset('ressources/plugins/pace/pace.min.css')}}" rel="stylesheet">
    <script src="{{ asset('ressources/plugins/pace/pace.min.js')}}"></script>
    {% endblock %}

  </head>
  <body>
    <div id="container" class="effect mainnav-lg navbar-fixed mainnav-fixed">
      <!--NAVBAR-->
      <!--===================================================-->
      <header id="navbar">
        <div id="navbar-container" class="boxed">
          <!--Brand logo & name-->
          <!--================================-->
          <div class="navbar-header">
            <a href="#" class="navbar-brand">
              <i class="fa fa-tree brand-icon"></i>
              <div class="brand-title">
                <span class="brand-text">SYGESCA</span>
              </div>
            </a>
          </div>
          <!--================================-->
          <!--End brand logo & name-->
          <!--Navbar Dropdown-->
          <!--================================-->
          <div class="navbar-content clearfix">
            <ul class="nav navbar-top-links pull-left">
              <!--Navigation toogle button-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <li class="tgl-menu-btn">
                <a class="mainnav-toggle" href="#">
                  <i class="fa fa-navicon fa-lg"></i>
                </a>
              </li>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End Navigation toogle button-->
              <!--Profile toogle button-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <li id="profilebtn" class="hidden-xs">
                <a href="JavaScript:void(0);">
                  <i class="fa fa-user fa-lg"></i>
                </a>
              </li>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End Profile toogle button-->
              <!--Messages Dropdown-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="fa fa-envelope fa-lg"></i>
                  <span class="badge badge-header badge-warning">9</span>
                </a>
                <!--Message dropdown menu-->
                <div class="dropdown-menu dropdown-menu-md with-arrow">
                  <div class="pad-all bord-btm">
                    <div class="h4 text-muted text-thin mar-no">Vous avez 3 messages.</div>
                  </div>
                  <div class="nano scrollable">
                    <div class="nano-content">
                      <ul class="head-list">
                        <!-- Dropdown list-->
                        <li>
                          <a href="#" class="media">
                            <div class="media-left">
                              <img src="img/user.png" alt="Profile Picture" class="img-circle img-sm">
                            </div>
                            <div class="media-body">
                              <div class="text-nowrap">Andy sent you a message</div>
                              <small class="text-muted">15 minutes ago</small>
                            </div>
                          </a>
                        </li>
                        <!-- Dropdown list-->
                      </ul>
                    </div>
                  </div>
                  <!--Dropdown footer-->
                  <div class="pad-all bord-top">
                    <a href="#" class="btn-link text-dark box-block">
                      <i class="fa fa-angle-right fa-lg pull-right"></i>Voir tous les messages
                    </a>
                  </div>
                </div>
              </li>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End message dropdown-->
              <!--Notification dropdown-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="fa fa-bell fa-lg"></i>
                  <span class="badge badge-header badge-danger">5</span>
                </a>
                <!--Notification dropdown menu-->
                <div class="dropdown-menu dropdown-menu-md with-arrow">
                  <div class="pad-all bord-btm">
                    <div class="h4 text-muted text-thin mar-no">
                      Notification
                    </div>
                  </div>
                  <div class="nano scrollable">
                    <div class="nano-content">
                      <ul class="head-list">
                        <!-- Dropdown list-->
                        <li>
                          <a href="#" class="media">
                            <div class="media-left">
                              <span class="icon-wrap icon-circle bg-primary">
                                <i class="fa fa-edit fa-lg"></i>
                              </span>
                            </div>
                            <div class="media-body">
                              <div class="text-nowrap">Abengourou</div>
                              <small class="text-muted">15 nouveaux cotisants</small>
                            </div>
                          </a>
                        </li>
                        <!-- Dropdown list-->
                        <li>
                          <a href="#" class="media">
                            <div class="media-left">
                              <span class="icon-wrap icon-circle bg-success">
                                <i class="fa fa-check-square-o fa-lg"></i>
                              </span>
                            </div>
                            <div class="media-body">
                              <div class="text-nowrap">Nation</div>
                              <small class="text-muted">15 cotisants validés</small>
                            </div>
                          </a>
                        </li>
                        <!-- Dropdown list-->
                        <li>
                          <a href="#" class="media">
                            <div class="media-left">
                              <span class="icon-wrap icon-circle bg-danger">
                                <i class="fa fa-close fa-lg"></i>
                              </span>
                            </div>
                            <div class="media-body">
                              <div class="text-nowrap">Nation</div>
                              <small class="text-muted">15 cotisants non validés</small>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!--Dropdown footer-->
                  <div class="pad-all bord-top">
                    <a href="#" class="btn-link text-dark box-block">
                      <i class="fa fa-angle-right fa-lg pull-right"></i>Voir toutes les notifications
                    </a>
                  </div>
                </div>
              </li>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End notifications dropdown-->
            </ul>
            <ul class="nav navbar-top-links pull-right">
              <!--Fullscreen toogle button-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <li class="hidden-xs" id="toggleFullscreen">
                <a class="fa fa-expand" data-toggle="fullscreen" href="#" role="button">
                  <span class="sr-only">Toggle fullscreen</span>
                </a>
              </li>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End Fullscreen toogle button-->
              <!--User dropdown-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <li id="dropdown-user" class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                  <span class="pull-right">
                    <img class="img-circle img-user media-object" src="{{ asset('ressources/img/avatar.png')}}" alt="Profile Picture">
                  </span>
                  <div class="username hidden-xs">{{ 'layout.user'|trans({'%username%': app.user.username}, 'FOSUserBundle')|title }}</div>
                </a>
                <div class="dropdown-menu dropdown-menu-right with-arrow">
                  <!-- User dropdown menu -->
                  <ul class="head-list">
                    <li>
                      <a href="{{ path('fos_user_change_password')}}">
                        <i class="fa fa-cog fa-fw"></i>
                        Changer mot de passe
                      </a>
                    </li>
                    <li>
                      <a href="{{ path('fos_user_security_logout')}}">
                        <i class="fa fa-sign-out fa-fw"></i>
                        Deconnexion
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End user dropdown-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            </ul>
          </div>
          <!--================================-->
          <!--End Navbar Dropdown-->
        </div>
      </header>
      <!--===================================================-->
      <!--END NAVBAR-->
      <div class="boxed">
        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
          <div id="profilebody">
            <div class="pad-all animated fadeInDown">
              <div class="row">
                <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
                  <div class="panel panel-default mar-no">
                    <div class="panel-body">
                      <a href="JavaScript:void(0);">
                        <div class="pull-left">
                          <p class="profile-title text-bricky">250 adultes</p>
                        </div>
                        <div class="pull-right text-bricky">
                          <i class="fa fa-users fa-lg"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
                  <div class="panel panel-default mar-no">
                    <div class="panel-body">
                      <a href="JavaScript:void(0);">
                        <div class="pull-left">
                          <p class="profile-title text-bricky">750 jeunes</p>
                        </div>
                        <div class="pull-right text-bricky">
                          <i class="fa fa-users fa-lg"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
                  <div class="panel panel-default mar-no">
                    <div class="panel-body">
                      <a href="JavaScript:void(0);">
                        <div class="pull-left">
                          <p class="profile-title text-bricky">150 louveteaux</p>
                        </div>
                        <div class="pull-right text-bricky" style="color: #ffb700">
                          <i class="fa fa-users fa-lg"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
                  <div class="panel panel-default mar-no">
                    <div class="panel-body">
                      <a href="JavaScript:void(0);">
                        <div class="pull-left">
                          <p class="profile-title text-bricky">325 eclaireurs</p>
                        </div>
                        <div class="pull-right text-bricky text-success">
                          <i class="fa fa-users fa-lg"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
                  <div class="panel panel-default mar-no">
                    <div class="panel-body">
                      <a href="JavaScript:void(0);">
                        <div class="pull-left">
                          <p class="profile-title text-bricky">123 cheminot</p>
                        </div>
                        <div class="pull-right text-bricky" style="color: orange">
                          <i class="fa fa-users fa-lg"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-md-6 col-xs-12">
                  <div class="panel panel-default mar-no">
                    <div class="panel-body">
                      <a href="JavaScript:void(0);">
                        <div class="pull-left">
                          <p class="profile-title text-bricky">152 routiers</p>
                        </div>
                        <div class="pull-right text-bricky" style="color: red">
                          <i class="fa fa-users fa-lg"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Page Title-->

          {% block body %}{% endblock %}
        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->
        <!--MAIN NAVIGATION-->
        <!--===================================================-->
        <nav id="mainnav-container">
          <div id="mainnav">
            <!--Menu-->
            <!--================================-->
            <div id="mainnav-menu-wrap">
              <div class="nano">
                <div class="nano-content">
                  <ul id="mainnav-menu" class="list-group">
                    <!--Category name-->
                    <li class="list-header">Accueil</li>
                    <!--Menu list item-->
                    <li>
                      <a href="{{ path('homepage')}}">
                        <i class="fa fa-flask"></i>
                        <span class="menu-title">
                          Tableau de bord
                        </span>
                      </a>
                    </li>
                    <!--Category name-->
                    <li class="list-header">Region</li>
                    <!--Menu list item-->
                    <li>
                      <a href="#">
                        <i class="fa fa-th"></i>
                        <span class="menu-title">Gestion</span>
                        <i class="arrow"></i>
                      </a>
                      <!--Submenu-->
                      <ul class="collapse">
                        <li>
                          <a href="{{ path('district_index')}}">
                            <i class="fa fa-caret-right"></i>District
                          </a>
                        </li>
                        <li>
                          <a href="{{ path('regional_district_liste')}}">
                            <i class="fa fa-caret-right"></i>Groupe
                          </a>
                        </li>
                        <li>
                          <a href="{{ path('scout_index')}}">
                            <i class="fa fa-caret-right"></i>Scout
                          </a>
                        </li>
                      </ul>
                    </li>
                    <!--Menu list item-->
                    <li>
                      <a href="#">
                        <i class="fa fa-briefcase"></i>
                        <span class="menu-title">Borderaux</span>
                        <i class="arrow"></i>
                      </a>
                      <!--Submenu-->
                      <ul class="collapse">
                        {{ render(url('cotisation_liste'))}}
                      </ul>
                    </li>
                    <li class="list-divider"></li>
                    <!--Category name-->
                    <li class="list-header">Administrateur</li>
                    <!--Menu list item-->
                    <li>
                      <a href="#">
                        <i class="fa fa-cog"></i>
                        <span class="menu-title">Paramètres</span>
                        <i class="arrow"></i>
                      </a>
                      <!--Submenu-->
                      <ul class="collapse">
                        <li>
                          <a href="{{ path('admin_cotisation_index')}}">
                            <i class="fa fa-caret-right"></i>Cotisation
                          </a>
                        </li>
                        <li>
                          <a href="{{ path('region_index')}}">
                            <i class="fa fa-caret-right"></i>Région
                          </a>
                        </li>
                        <li>
                          <a href="{{ path('admin_branche_index')}}">
                            <i class="fa fa-caret-right"></i>Branche
                          </a>
                        </li>
                        <li>
                          <a href="{{ path('admin_statut_index')}}">
                            <i class="fa fa-caret-right"></i>Statut
                          </a>
                        </li>
                      </ul>
                    </li>
                    <!--Menu list item-->
                    <li>
                      <a href="#">
                        <i class="fa fa-lock"></i>
                        <span class="menu-title">Sécurité</span>
                      </a>
                      <!--Submenu-->
                      <ul class="collapse">
                        <li>
                          <a href="{{ path('admin_user_index')}}">
                            <i class="fa fa-caret-right"></i>Utilisateurs</a>
                        </li>
                        <li>
                          <a href="{{ path('gestionnaire_index')}}">
                            <i class="fa fa-caret-right"></i>Gestionnaires</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <!--Widget-->
                  <!--================================-->
                  <div class="mainnav-widget">
                    <!-- Show the button on collapsed navigation -->
                    <div class="show-small">
                      <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
                        <i class="fa fa-desktop"></i>
                      </a>
                    </div>
                    <!-- Hide the content on collapsed navigation -->
                    <div id="demo-wg-server" class="hide-small mainnav-widget-content">
                      <ul class="list-group">
                        <li class="list-header pad-no pad-ver">Statistiques globales</li>
                        <li class="mar-btm">
                          <span class="label label-primary pull-right">{{ render(url('statistiques_globales')) }}</span>
                          <p>Cotisants</p>
                          <div class="progress progress-sm">
                            <div class="progress-bar progress-bar-primary" style="width: {{ render(url('statistiques_globales'))}};">
                              <span class="sr-only">{{ render(url('statistiques_globales')) }}</span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!--================================-->
                  <!--End widget-->
                </div>
              </div>
            </div>
            <!--================================-->
            <!--End menu-->
          </div>
        </nav>
        <!--===================================================-->
        <!--END MAIN NAVIGATION-->
        <!--ASIDE-->
        <!--===================================================-->
      </div>
      <!-- FOOTER -->
      <!--===================================================-->


      <footer id="footer">
        <!-- Visible when footer positions are fixed -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="show-fixed pull-right">
          <ul class="footer-list list-inline">
            <li>
              <p class="text-sm">SEO Proggres</p>
              <div class="progress progress-sm progress-light-base">
                <div style="width: 80%" class="progress-bar progress-bar-danger"></div>
              </div>
            </li>
            <li>
              <p class="text-sm">Online Tutorial</p>
              <div class="progress progress-sm progress-light-base">
                <div style="width: 80%" class="progress-bar progress-bar-primary"></div>
              </div>
            </li>
            <li>
              <button class="btn btn-sm btn-dark btn-active-success">Checkout</button>
            </li>
          </ul>
        </div>
        <!-- Visible when footer positions are static -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="hide-fixed pull-right pad-rgt">SYGESCA v1.0
          <a href="#" title="" style="font-size: 0.8em; padding-left: 25px;">
            By Eden'Art</a>
        </div>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Remove the class name "show-fixed" and "hide-fixed" to make the content always appears. -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <p class="pad-lft">&#0169; 2017
          <span class="hidden-xs">Association des Scouts Catholiques de Côte d'Ivoire</span>
          <span class="hidden-sm hidden-md hidden-lg">ASCCI</span>
        </p>
      </footer>
      <!--===================================================-->
      <!-- END FOOTER -->
      <!-- SCROLL TOP BUTTON -->
      <!--===================================================-->
      <button id="scroll-top" class="btn">
        <i class="fa fa-chevron-up"></i>
      </button>
      <!--===================================================-->
    </div>

    {% block javascripts %}
    <script src="{{ asset('ressources/js/jquery-2.1.1.min.js')}}"></script>
    <script src="{{ asset('ressources/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('ressources/plugins/fast-click/fastclick.min.js')}}"></script>
    <script src="{{ asset('ressources/js/scripts.js')}}"></script>
    <script src="{{ asset('ressources/plugins/nanoscrollerjs/jquery.nanoscroller.min.js')}}"></script>
    <script src="{{ asset('ressources/plugins/metismenu/metismenu.min.js')}}"></script>
    <script src="{{ asset('ressources/plugins/switchery/switchery.min.js')}}"></script>
    <script src="{{ asset('ressources/plugins/bootstrap-select/bootstrap-select.min.js')}}"></script>
    <script src="{{ asset('ressources/plugins/screenfull/screenfull.js')}}"></script>
    {% endblock %}

  </body>

</html>
