<table class="table table-hover table-vcenter">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Regions</th>
      <th class="text-center">Totaux</th>
      <th class="hidden-xs text-center">Adultes</th>
      <th class="hidden-xs text-center">Jeunes</th>
      <th class="hidden-xs text-center">Femmes</th>
      <th class="hidden-xs text-center">Hommes</th>
    </tr>
  </thead>
  <tbody>
    {% for region in regions %}
      <tr>
        <td class="text-right">{{ loop.index }}</td>
        <td>{{ region.nom|upper }}</td>
        <td class="text-center">{{ render(url('statistiques_region_total_cotisant', {'region': region.id}))}}</td>
        <td class="hidden-xs text-center">{{ render(url('statistiques_region_statut_cotisant', {'region': region.id, 'statut': 'adulte'}))}}</td>
        <td class="hidden-xs text-center">{{ render(url('statistiques_region_statut_cotisant', {'region': region.id, 'statut': 'jeune'}))}}</td>
        <td class="hidden-xs text-center">{{ render(url('statistiques_region_genre_cotisant', {'region': region.id, 'genre': 'F'}))}}</td>
        <td class="hidden-xs text-center">{{ render(url('statistiques_region_genre_cotisant', {'region': region.id, 'genre': 'M'}))}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
