{% extends 'base.html.twig' %}

{% block title %}Liste des adhérants de {{ cotisation }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('ressources/plugins/datatables/media/css/dataTables.bootstrap.css')}}" rel="stylesheet">
<link href="{{ asset('ressources/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="pageheader">
    <h3>
      <i class="fa fa-home"></i>Gestion des Adhérants</h3>
    <div class="breadcrumb-wrapper">
      <span class="label"></span>
      <ol class="breadcrumb">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Gestion</a></li>
        <li class="active">Adhérants</li>
      </ol>
    </div>
  </div>
  <div id="page-content">
    <br>
      <!-- Message -->
        {% for flash_message in app.session.flashBag.get('notice') %}
          {% if flash_message %}
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
              <div class="alert alert-info media fade in">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <div class="media-left">
                  <span class="icon-wrap icon-wrap-xs icon-circle alert-icon">
                    <i class="fa fa-check fa-lg"></i>
                  </span>
                </div>
                <div class="media-body">
                  <p></p>
                    <h4 class="alert-title" style="color: green">
                      {{ flash_message }}
                    </h4>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        <!-- \Message -->
        {% if nombre_adherant %}
        <br>
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <a href="{{ path('bordereau_new', {'cotisation': cotisation})}}" title="">
              <button class="btn btn-default btn-labeled fa fa-check">
                Valider le bordereau <span class="badge badge-primary">{{ nombre_adherant }}</span>
              </button>
            </a>
          </div>
        </div>
        <br>
        {% endif %}

    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Liste des adhérants de {{ cotisation }}</h3>
      </div>
      <div class="panel-body">
        <table id="demo-dt-basic" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center mini-desktop">Groupes</th>
              <th class="text-center">Noms & prenoms</th>
              <th class="text-center">Naissances</th>
              <th class="text-center mini-desktop">Lieux</th>
              <th class="text-center">Sexes</th>
              <th class="text-center">Branches</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            {% for adherant in adherants %}
                <tr>
                    <td class="text-right">{{ loop.index }}</td>
                    <td>{{ adherant.groupe }}</td>
                    <td>{{ adherant.nom|upper }} {{ adherant.prenoms|title }}</td>
                    <td class="text-center">{{ adherant.datenaiss }}</td>
                    <td class="text-left">{{ adherant.lieunaiss }}</td>
                    <td class="text-center">{{ adherant.sexe }}</td>
                    <td class="text-left">{{ adherant.branche }}</td>
                    <td class="text-center">
                        {% if actif %}
                            <a href="{{ path('adherant_cotisation', {'scout': adherant.id, 'cotisation': cotisation})}}" class="btn-link add-tooltip" data-placement="left" data-toggle="tooltip" data-original-title="Ajouter au bordereau">
                                <i class="fa fa-plus"></i>
                            </a>
                        {% else %}
                            <a href="#" class="btn-link add-tooltip" data-placement="left" data-toggle="tooltip" data-original-title="Veuillez voir l'année encours">
                                <i class="fa fa-eye"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('ressources/plugins/datatables/media/js/jquery.dataTables.js')}}"></script>
<script src="{{ asset('ressources/plugins/datatables/media/js/dataTables.bootstrap.js')}}"></script>
<script src="{{ asset('ressources/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{ asset('ressources/js/demo/tables-datatables.js')}}"></script>
{% endblock %}
