{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('ressources/plugins/morris-js/morris.min.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="pageheader">
  <h3>
    <i class="fa fa-home"></i>
    Tableau de bord
  </h3>
  <div class="breadcrumb-wrapper">
    <span class="label"></span>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          Accueil
        </a>
      </li>
      <li class="active">
        Tableau de bord
      </li>
    </ol>
  </div>
</div>
<div id="page-content">
  <!--statistiques -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">1.450</span>
              </h3>
              <p>Jeunes</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg text-info"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: 72.5%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar">
              <span class="sr-only">72.5% Complete</span>
            </div>
          </div>
          <p>
            72.5% de l'effectif total
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">550</span>
              </h3>
              <p>Adultes</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg text-info"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: 27.5%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar">
              <span class="sr-only">27.5% Complete</span>
            </div>
          </div>
          <p>
            27.5% de l'effectif total
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel widget">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">600</span>
              </h3>
              <p>Femmes</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-female fa-3x text-pink"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: 30%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-pink">
              <span class="sr-only">30% Complete</span>
            </div>
          </div>
          <p>
            30% de l'effectif total
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel widget">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">1.400</span>
              </h3>
              <p>Hommes</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-male fa-3x"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-dark">
              <span class="sr-only">70% Complete</span>
            </div>
          </div>
          <p>
            70% de l'eefectif total
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Unités -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">571</span>
              </h3>
              <p>Louveteaux</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg" style="color: #ffcf00"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: 28.6%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar" style="color: #ffcf00">
              <span class="sr-only">28.6% Complete</span>
            </div>
          </div>
          <p>
            28.6% de l'effectif total des jeunes
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">650</span>
              </h3>
              <p>Eclaireurs</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg text-success"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: 32.5%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-success">
              <span class="sr-only">32.5% Complete</span>
            </div>
          </div>
          <p>
            32.5% de l'effectif total des jeunes
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel widget">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">452</span>
              </h3>
              <p>Cheminos</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg text-warning"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: 22.6%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning">
              <span class="sr-only">22.6% Complete</span>
            </div>
          </div>
          <p>
            22.6% de l'effectif total des jeunes
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel widget">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">327</span>
              </h3>
              <p>Routiers</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg text-danger"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: 16.4%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-danger">
              <span class="sr-only">16.4% Complete</span>
            </div>
          </div>
          <p>
            16.4% de l'effectif total des jeunes
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Histogramme des cotisants 2016-2017</h3>
        </div>
        <div class="panel-body">
          <div id="demo-morris-bar" style="height:350px"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Tableaux
          </h3>
        </div>
        <div class="panel-body">
          <!--Default Tabs (Left Aligned)-->
          <!--===================================================-->
          <div class="tab-base">
            <!--Nav Tabs-->
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#demo-lft-tab-1">
                  Statistiques globales régions
                </a>
              </li>
              <li>
                <a data-toggle="tab" href="#demo-lft-tab-2">Statistiques adultes</a>
              </li>
              <li>
                <a data-toggle="tab" href="#demo-lft-tab-3">Statistiques jeunes</a>
              </li>
            </ul>
            <!--Tabs Content-->
            <div class="tab-content">
              <div id="demo-lft-tab-1" class="tab-pane fade active in">
                <!--Hover Rows-->
                <!--===================================================-->
                <table class="table table-hover table-vcenter">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Regions</th>
                      <th class="text-center">Totaux</th>
                      <th class="hidden-xs text-center">Adultes</th>
                      <th class="hidden-xs text-center">Jeunes</th>
                      <th class="hidden-xs text-center">Hommes</th>
                      <th class="hidden-xs text-center">Femmes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>ABIDJAN</td>
                      <td class="text-center">2.500</td>
                      <td class="hidden-xs text-center">750</td>
                      <td class="hidden-xs text-center">1.750</td>
                      <td class="hidden-xs text-center">1.600</td>
                      <td class="hidden-xs text-center">900</td>
                    </tr>
                  </tbody>
                </table>
                <!--===================================================-->
                <!--End Hover Rows-->
              </div>
              <div id="demo-lft-tab-2" class="tab-pane fade">
                <!--===================================================-->
                <table class="table table-hover table-vcenter">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Regions</th>
                      <th class="text-center">Totaux</th>
                      <th class="hidden-xs text-center">Meutes</th>
                      <th class="hidden-xs text-center">Troupes</th>
                      <th class="hidden-xs text-center">Generations</th>
                      <th class="hidden-xs text-center">Communautés</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>ABIDJAN</td>
                      <td class="text-center">2.500</td>
                      <td class="hidden-xs text-center">750</td>
                      <td class="hidden-xs text-center">1.750</td>
                      <td class="hidden-xs text-center">1.600</td>
                      <td class="hidden-xs text-center">900</td>
                    </tr>
                  </tbody>
                </table>
                <!--===================================================-->
                <!-- End Foo Table - Filtering -->
              </div>
              <div id="demo-lft-tab-3" class="tab-pane fade">
                <!--Hover Rows-->
                <!--===================================================-->
                <table class="table table-hover table-vcenter">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Regions</th>
                      <th class="text-center">Totaux</th>
                      <th class="hidden-xs text-center">Meutes</th>
                      <th class="hidden-xs text-center">Troupes</th>
                      <th class="hidden-xs text-center">Generations</th>
                      <th class="hidden-xs text-center">Communautés</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>ABIDJAN</td>
                      <td class="text-center">2.500</td>
                      <td class="hidden-xs text-center">750</td>
                      <td class="hidden-xs text-center">1.750</td>
                      <td class="hidden-xs text-center">1.600</td>
                      <td class="hidden-xs text-center">900</td>
                    </tr>
                  </tbody>
                </table>
                <!--===================================================-->
                <!--End Hover Rows-->
              </div>
            </div>
          </div>
          <!--===================================================-->
          <!--End Default Tabs (Left Aligned)-->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('ressources/plugins/morris-js/morris.min.js')}}"></script>
<script src="{{ asset('ressources/plugins/morris-js/raphael-js/raphael.min.js')}}"></script>
<script src="{{ asset('ressources/js/demo/charts-morris.js')}}"></script>
{% endblock %}
