{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('ressources/plugins/morris-js/morris.min.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="pageheader">
  <h3>
    <i class="fa fa-home"></i>
    Tableau de bord
  </h3>
  <div class="breadcrumb-wrapper">
    <span class="label"></span>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          Accueil
        </a>
      </li>
      <li class="active">
        Tableau de bord
      </li>
    </ol>
  </div>
</div>
<div id="page-content">
  <!--statistiques -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">{{ render(url('statistiques_nbstatut_contisant', {'statut': 'jeune'}))}}</span>
              </h3>
              <p>Jeunes</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg text-info"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: {{ render(url('statistiques_pourcentagestatut_contisant', {'statut': 'jeune'}))}};" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar">
              <span class="sr-only">{{ render(url('statistiques_pourcentagestatut_contisant', {'statut': 'jeune'}))}} Complete</span>
            </div>
          </div>
          <p>
            {{ render(url('statistiques_pourcentagestatut_contisant', {'statut': 'jeune'}))}} de l'effectif total
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">{{ render(url('statistiques_nbstatut_contisant', {'statut': 'adulte'}))}}</span>
              </h3>
              <p>Adultes</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg text-info"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: {{ render(url('statistiques_pourcentagestatut_contisant', {'statut': 'adulte'}))}};" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar">
              <span class="sr-only">{{ render(url('statistiques_pourcentagestatut_contisant', {'statut': 'adulte'}))}} Complete</span>
            </div>
          </div>
          <p>
            {{ render(url('statistiques_pourcentagestatut_contisant', {'statut': 'adulte'}))}} de l'effectif total
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel widget">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">{{ render(url('statistiques_nbgenre_contisant', {'genre': 'F'}))}}</span>
              </h3>
              <p>Femmes</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-female fa-3x text-pink"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: {{ render(url('statistiques_pourcentagegenre_contisant', {'genre': 'F'}))}};" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-pink">
              <span class="sr-only">{{ render(url('statistiques_pourcentagegenre_contisant', {'genre': 'F'}))}} Complete</span>
            </div>
          </div>
          <p>
            {{ render(url('statistiques_pourcentagegenre_contisant', {'genre': 'F'}))}} de l'effectif total
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel widget">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">{{ render(url('statistiques_nbgenre_contisant', {'genre': 'M'}))}}</span>
              </h3>
              <p>Hommes</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-male fa-3x"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: {{ render(url('statistiques_pourcentagegenre_contisant', {'genre': 'M'}))}};" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-dark">
              <span class="sr-only">{{ render(url('statistiques_pourcentagegenre_contisant', {'genre': 'M'}))}} Complete</span>
            </div>
          </div>
          <p>
            {{ render(url('statistiques_pourcentagegenre_contisant', {'genre': 'M'}))}} de l'eefectif total
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Unités -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">{{ render(url('statistiques_nbbranche_contisant', {'statut': 'jeune', 'branche': 'meute'})) }}</span>
              </h3>
              <p>Louveteaux</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg" style="color: #ffcf00"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: {{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'meute'})) }};" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar" style="color: #ffcf00">
              <span class="sr-only">{{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'meute'})) }} Complete</span>
            </div>
          </div>
          <p>
            {{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'meute'})) }} de l'effectif total des jeunes
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">{{ render(url('statistiques_nbbranche_contisant', {'statut': 'jeune', 'branche': 'troupe'})) }}</span>
              </h3>
              <p>Eclaireurs</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg text-success"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: {{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'troupe'})) }};" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-success">
              <span class="sr-only">{{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'troupe'})) }} Complete</span>
            </div>
          </div>
          <p>
            {{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'troupe'})) }} de l'effectif total des jeunes
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel widget">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">{{ render(url('statistiques_nbbranche_contisant', {'statut': 'jeune', 'branche': 'generation'})) }}</span>
              </h3>
              <p>Cheminos</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg text-warning"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: {{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'generation'})) }};" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning">
              <span class="sr-only">{{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'generation'})) }} Complete</span>
            </div>
          </div>
          <p>
            {{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'generation'})) }} de l'effectif total des jeunes
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="panel widget">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h3 class="mar-no">
                <span class="counter">{{ render(url('statistiques_nbbranche_contisant', {'statut': 'jeune', 'branche': 'communaute'})) }}</span>
              </h3>
              <p>Routiers</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2">
              <i class="fa fa-users fa-lg text-danger"></i>
            </div>
          </div>
          <div class="progress progress-striped progress-sm">
            <div style="width: {{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'communaute'})) }};" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-danger">
              <span class="sr-only">{{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'communaute'})) }} Complete</span>
            </div>
          </div>
          <p>
            {{ render(url('statistiques_pourcentagebranche_contisant', {'statut': 'jeune', 'branche': 'communaute'})) }} de l'effectif total des jeunes
          </p>
        </div>
      </div>
    </div>
  </div>

  {% if annee %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Histogramme des cotisants de {{ annee }}</h3>
        </div>
        <div class="panel-body">
          <div id="histogramme-region" style="height:350px"></div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            Tableaux
          </h3>
        </div>
        <div class="panel-body">
          <!--Default Tabs (Left Aligned)-->
          <!--===================================================-->
          <div class="tab-base">
            <!--Nav Tabs-->
            <ul class="nav nav-tabs">
              <li class="active">
                <a data-toggle="tab" href="#demo-lft-tab-1">
                  Statistiques globales régions
                </a>
              </li>
              <li>
                <a data-toggle="tab" href="#demo-lft-tab-2">Statistiques adultes</a>
              </li>
              <li>
                <a data-toggle="tab" href="#demo-lft-tab-3">Statistiques jeunes</a>
              </li>
            </ul>
            <!--Tabs Content-->
            <div class="tab-content">
              <div id="demo-lft-tab-1" class="tab-pane fade active in">
                <!--Hover Rows-->
                <!--===================================================-->
                {{ render(url('statistiques_region')) }}


                <!--===================================================-->
                <!--End Hover Rows-->
              </div>
              <div id="demo-lft-tab-2" class="tab-pane fade">
                <!--===================================================-->
                {{ render(url('statistiques_region_adultes'))}}
                <!--===================================================-->
                <!-- End Foo Table - Filtering -->
              </div>
              <div id="demo-lft-tab-3" class="tab-pane fade">
                <!--Hover Rows-->
                <!--===================================================-->
                {{ render(url('statistiques_region_jeunes'))}}
                <!--===================================================-->
                <!--End Hover Rows-->
              </div>
            </div>
          </div>
          <!--===================================================-->
          <!--End Default Tabs (Left Aligned)-->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('ressources/plugins/morris-js/morris.min.js')}}"></script>
<script src="{{ asset('ressources/plugins/morris-js/raphael-js/raphael.min.js')}}"></script>

<script>
  $(document).ready(function() {
      var donnees = [
          {% for region in regions %}
            { y: "{{ region.nom }}", a: {{ render(url('statistiques_region_total_cotisant', {'region': region.id}))}} },
          {% endfor %}
      ];
      Morris.Bar({
          element: "histogramme-region",
          data: donnees,
          xkey: "y",
          ykeys: ["a"],
          labels: ["Cotisants"],
          gridEnabled: !0,
          barColors: ["#29b7d3"],
          resize: !0,
          hideHover: "auto"
      })
  });
</script>
{% endblock %}
