{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<br>
<div class="text-left">
  <label class="md-control-label">{{ 'form.current_password'|trans }}</label>
  {{ form_widget(form.current_password, {'attr': { 'class': 'form-control'}}) }}
</div>

<div class="text-left">
  <label class="md-control-label">{{ 'form.new_password'|trans }}</label>
  {{ form_widget(form.plainPassword.first, {'attr': { 'class': 'form-control'}}) }}
</div>

<div class="text-left">
  <label class="md-control-label">{{ 'form.new_password_confirmation'|trans }}</label>
  {{ form_widget(form.plainPassword.second, {'attr': { 'class': 'form-control'}}) }}
</div>
{{ form_widget(form) }}

<div>
  <input type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-block btn-primary"/>
</div>
<br>
<div class="row">
  <div class="col-xs-3 col-xs-offset-8">
    <a href="{{ path('homepage') }}">
      <span class="btn btn-block btn-default fa fa-home" style="font-size: 1.5em"></span>
    </a>
  </div>
</div>
{{ form_end(form) }}
