{% extends 'base.html.twig' %}

{% block title %}Modification des cotisations{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('ressources/plugins/bootstrap-validator/bootstrapValidator.min.css')}}" rel="stylesheet">
<link href="{{ asset('ressources/plugins/dropzone/dropzone.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="pageheader">
    <h3>
      <i class="fa fa-home"></i>Gestion des cotisations</h3>
    <div class="breadcrumb-wrapper">
      <span class="label"></span>
      <ol class="breadcrumb">
        <li>
          <a href="#">Accueil</a>
        </li>
        <li>
          <a href="#">Paramètres</a>
        </li>
        <li class="active">Cotisation</li>
      </ol>
    </div>
  </div>

  <div id="page-content">

    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <a href="{{ path('admin_cotisation_index')}}" title="">
          <button class="btn btn-default btn-labeled fa fa-user-plus">Liste des cotisations</button>
        </a>
      </div>
    </div>
    <br>

    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Modification des cotiations</h3>
      </div>
      {{ form_start(edit_form, { 'attr': {'class': 'form-vertical', 'id': 'cotisationForm' }}) }}
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">Année scoute  <span style="color: red">*</span></label>
                    {{ form_widget(edit_form.annee) }}
                    {{ form_errors(edit_form.annee) }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label">Cadre  <span style="color: red">*</span></label>
                    {{ form_widget(edit_form.cadre) }}
                    {{ form_errors(edit_form.cadre) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">CD, Equipe de district  <span style="color: red">*</span></label>
                    {{ form_widget(edit_form.district) }}
                    {{ form_errors(edit_form.district) }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">CU, Equipe de groupe  <span style="color: red">*</span></label>
                    {{ form_widget(edit_form.groupe) }}
                    {{ form_errors(edit_form.groupe) }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">Jeune  <span style="color: red">*</span></label>
                    {{ form_widget(edit_form.jeune) }}
                    {{ form_errors(edit_form.jeune) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-7 col-sm-offset-3 text-right">
              {{ form_rest(edit_form)}}
              <a href="{{ path('admin_cotisation_index')}}" class="btn btn-default">Annuler</a>
              <button class="btn btn-primary" type="submit">Modifier</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('ressources/plugins/bootstrap-validator/bootstrapValidator.min.js')}}"></script>
<script src="{{ asset('ressources/js/sygesca-form-validation.js')}}"></script>
{% endblock %}
