{% extends 'base.html.twig' %}

{% block title %}Enregistrement des cotisations{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('ressources/plugins/bootstrap-validator/bootstrapValidator.min.css')}}" rel="stylesheet">
<link href="{{ asset('ressources/plugins/dropzone/dropzone.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="pageheader">
    <h3>
      <i class="fa fa-home"></i>Gestion des cotisations</h3>
    <div class="breadcrumb-wrapper">
      <span class="label"></span>
      <ol class="breadcrumb">
        <li>
          <a href="#">Accueil</a>
        </li>
        <li>
          <a href="#">Paramètres</a>
        </li>
        <li class="active">Cotisation</li>
      </ol>
    </div>
  </div>

  <div id="page-content">

    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <a href="{{ path('admin_cotisation_index')}}" title="">
          <button class="btn btn-default btn-labeled fa fa-user-plus">Liste des cotisations</button>
        </a>
      </div>
    </div>
    <br>

    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Enregistrement des cotiations</h3>
      </div>
      {{ form_start(form, { 'attr': {'class': 'form-vertical', 'id': 'cotisationForm' }}) }}
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">Année scoute  <span style="color: red">*</span></label>
                    {{ form_widget(form.annee) }}
                    {{ form_errors(form.annee) }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">CN  <span style="color: red">*</span></label>
                    {{ form_widget(form.cn) }}
                    {{ form_errors(form.cn) }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">CND  <span style="color: red">*</span></label>
                    {{ form_widget(form.cnd) }}
                    {{ form_errors(form.cnd) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">Aînés  <span style="color: red">*</span></label>
                    {{ form_widget(form.aine) }}
                    {{ form_errors(form.aine) }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">Equipe nationale  <span style="color: red">*</span></label>
                    {{ form_widget(form.equipenationale) }}
                    {{ form_errors(form.equipenationale) }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">Commissaires aux comptes  <span style="color: red">*</span></label>
                    {{ form_widget(form.cac) }}
                    {{ form_errors(form.cac) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">CR  <span style="color: red">*</span></label>
                    {{ form_widget(form.cr) }}
                    {{ form_errors(form.cr) }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">Equipe régionale  <span style="color: red">*</span></label>
                    {{ form_widget(form.equiperegionale) }}
                    {{ form_errors(form.equiperegionale) }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">CD  <span style="color: red">*</span></label>
                    {{ form_widget(form.cd) }}
                    {{ form_errors(form.cd) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">Equipe de district  <span style="color: red">*</span></label>
                    {{ form_widget(form.equipedistrict) }}
                    {{ form_errors(form.equipedistrict) }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">CG et équipe de groupe  <span style="color: red">*</span></label>
                    {{ form_widget(form.equipegroupe) }}
                    {{ form_errors(form.equipegroupe) }}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">Chef d'unité, Adjoint et Assistant  <span style="color: red">*</span></label>
                    {{ form_widget(form.cu) }}
                    {{ form_errors(form.cu) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label class="control-label">Jeunes  <span style="color: red">*</span></label>
                    {{ form_widget(form.jeune) }}
                    {{ form_errors(form.jeune) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-7 col-sm-offset-3 text-right">
              {{ form_rest(form)}}
              <button class="btn btn-default" type="reset">Annuler</button>
              <button class="btn btn-primary" type="submit">Enregistrer</button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('ressources/plugins/bootstrap-validator/bootstrapValidator.min.js')}}"></script>
<script src="{{ asset('ressources/js/sygesca-form-validation.js')}}"></script>
{% endblock %}
