{% extends 'base.html.twig' %}

{% block body %}
  <div class="pageheader">
    <h3>
      <i class="fa fa-home"></i>Gestion des Bordereaux</h3>
    <div class="breadcrumb-wrapper">
      <span class="label"></span>
      <ol class="breadcrumb">
        <li>
          <a href="#">Accueil</a>
        </li>
        <li>
          <a href="#">Gestion</a>
        </li>
        <li class="active">Bordereaux</li>
      </ol>
    </div>
  </div>
  <div id="page-content">
    {{ form_start(form, { 'attr': {'class': 'form-vertical', 'id': 'userForm' }}) }}
    <div class="invoice-wrapper">
      <section class="invoice-container">
        <div class="invoice-inner">

          <div class="row">
            <div class="col-sm-12 pad-top">
              <div class="panel panel-defaul">
                <div class="panel-body">
                  <div class="able-responsive">
                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <td class="text-center"><strong>#</strong></td>
                          <td class="text-center"><strong>Matricule</strong></td>
                          <td class="text-center"><strong>Nom et prénoms</strong></td>
                          <td class="text-center"><strong>Genres</strong></td>
                          <td class="text-center"><strong>Naissance</strong></td>
                          <td class="text-center"><strong>Fonction</strong></td>
                          <td class="text-center"><strong>Branche</strong></td>
                          <td class="text-center"><strong>Montant</strong></td>
                        </tr>
                      </thead>
                      <tbody>
                        {% set montant = 0 %}
                        {% set montantTotal = 0 %}
                        {% for cotisant in cotisants %}
                          {% set fonction = adherants[cotisant.id] %}
                          {% if ((fonction == 'Louveteau') or (fonction == 'Eclaireur') or (fonction == 'Cheminot') or (fonction == 'Routier')) %}
                              {% set montant = assurance.jeune %}
                          {% elseif (fonction == 'CU') %}
                              {% set montant = assurance.cu %}
                          {% elseif ((fonction == 'equipegroupe') or (fonction == 'AumonierGroupe')) %}
                              {% set montant = assurance.equipegroupe %}
                          {% elseif (fonction == 'CG') %}
                              {% set montant = assurance.cg %}
                          {% elseif ((fonction == 'ED') or (fonction == 'AumonierDistrict')) %}
                              {% set montant = assurance.equipedistrict %}
                          {% elseif (fonction == 'CD') %}
                              {% set montant = assurance.cd %}
                          {% elseif ((fonction == 'ER') or (fonction == 'AumonierRegional')) %}
                              {% set montant = assurance.equiperegionale %}
                          {% elseif (fonction == 'Regional') %}
                              {% set montant = assurance.cr %}
                          {% elseif (fonction == 'Aine') %}
                              {% set montant = assurance.aine %}
                          {% elseif (fonction == 'CND') %}
                              {% set montant = assurance.cnd %}
                          {% elseif (fonction == 'CAC') %}
                              {% set montant = assurance.cac %}
                          {% elseif ((fonction == 'EN') or (fonction == 'AumonierNational'))%}
                              {% set montant = assurance.equipenationale %}
                          {% else %}
                              {% set montant = assurance.cn %}
                          {% endif %}
                        <tr>
                          <td class="text-right">{{ loop.index }}</td>
                          <td class="text-center">{{ cotisant.matricule }}</td>
                          <td class="text-left">{{ cotisant.nom|upper }} {{ cotisant.prenoms|title }}</td>
                          <td class="text-center">{{ cotisant.sexe }}</td>
                          <td class="text-center">{{ cotisant.datenaiss }}</td>
                          <td class="text-left">{{ fonction }}</td>
                          <td class="text-left">
                            {% if (fonction == 'CU') %}
                              {{ chefUnite[cotisant.id] }}
                            {% else %}
                              {{ cotisant.branche }}
                            {% endif %}
                          </td>
                          <td class="text-right">{{ montant|number_format('0','','.') }}</td>
                        </tr>
                          {% set montantTotal = montantTotal + montant %}
                        {% endfor %}
                        <tr>
                          <td class="thick-line" colspan="5"></td>
                          <td class="thick-line"></td>
                          <td class="thick-line text-center">
                            <strong>Total</strong>
                          </td>
                          <td class="thick-line text-right">
                            <strong>{{ montantTotal|number_format('0','','.') }}</strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div><br><br>
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row hidden-xs hidden-sm hidden-md hidden-lg">
                        <div class="col-sm-4">
                          <label class="control-label">Année</label>
                          {{ form_widget(form.cotisation)}}
                        </div>
                        <div class="col-sm-4">
                          <label class="control-label">Montant</label>
                          {{ form_widget(form.montant, { 'attr': {'class': 'form-control', 'value': montantTotal, 'readonly':'readonly' }})}}
                        </div>
                        <div class="col-sm-4">
                          <label class="control-label">Validation</label>
                          {{ form_widget(form.valide)}}
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 text-right">
                      <a href="{{ path('bordereau_scouts_adherants', {'cotisation': assurance.annee })}}" class="btn btn-default btn-labeled fa fa-user-plus" title="">
                        Ajouter des scouts
                      </a>
                      <a href="{{ absolute_url(path('frontend_annulation',{'cotisation': assurance.annee})) }}" class="btn btn-default btn-labeled fa fa-trash" title="">
                        Annuler
                      </a>
                      <button type="submit" class="btn btn-default btn-labeled fa fa-check">Valider</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
